name: Check that we know about latest Kind release

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '17 6 * * 4'

jobs:
  kind-version-check:
    runs-on: ubuntu-latest
    steps:
      - run: curl -s https://api.github.com/repos/kubernetes-sigs/kind/releases > kind-releases.json
      - run: jq -r '.[0].name' kind-releases.json | grep -Fx 'v0.31.0'
      - run: jq -r '.[0].name, .[0]' kind-releases.json
        if: ${{ failure() }}
