
name: Kind in podman

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      arch:
        description: Architecture
        type: choice
        options:
          - both
          - x86_64
          - arm64
      inner-podman-version:
        description: Version of podman in the image
        type: choice
        options:
          - all
          - v5.7
          - v5.6
      podman-style:
        description: How to run podman
        type: choice
        options:
          - all
          - none
          - rootless
          - rootful
      runtime:
        description: K3s runtime
        type: choice
        options:
          - all
          - none
          - default
          - containerd
          - cri-o
      exclude:
        description: Exclude from job matrix (JSON)
        type: string
        default: '[{"arch":"x86_64","podman-style":"rootful"}]'

jobs:
  init:
    name: Process the multi-select inputs
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      arch: ${{ steps.process-inputs.outputs.arch }}
      inner-podman-version: ${{ steps.process-inputs.outputs.inner-podman-version }}
      run-in-podman: ${{ steps.randomize-plan.outputs.run-in-podman }}
      run-in-k3s: ${{ steps.randomize-plan.outputs.run-in-k3s }}
    steps:
      - uses: actions/checkout@v4
      - id: process-inputs
        run: |
          if [ -z "${{ inputs.arch }}" -o "${{ inputs.arch }}" = "both" ] ; then
            yq -I0 '.on.workflow_dispatch.inputs.arch.options.[1:]' .github/workflows/run-kind.yaml -o json
          else
            echo '["${{ inputs.arch }}"]'
          fi | sed 's/^/arch=/' | tee -a $GITHUB_OUTPUT
          if [ -z "${{ inputs.inner-podman-version }}" -o "${{ inputs.inner-podman-version }}" = "all" ] ; then
            yq -I0 '.on.workflow_dispatch.inputs.inner-podman-version.options.[1:]' .github/workflows/run-kind.yaml -o json
          else
            echo '["${{ inputs.inner-podman-version }}"]'
          fi | sed 's/^/inner-podman-version=/' | tee -a $GITHUB_OUTPUT
          if [ -z "${{ inputs.podman-style }}" -o "${{ inputs.podman-style }}" = "all" ] ; then
            yq -I0 '.on.workflow_dispatch.inputs.podman-style.options.[2:]' .github/workflows/run-kind.yaml -o json
          elif [ "${{ inputs.podman-style }}" = "none" ] ; then
            echo '[]'
          else
            echo '["${{ inputs.podman-style }}"]'
          fi | sed 's/^/podman-style=/' | tee -a $GITHUB_OUTPUT
          if [ -z "${{ inputs.runtime }}" -o "${{ inputs.runtime }}" = "all" ] ; then
            yq -I0 '.on.workflow_dispatch.inputs.runtime.options.[2:]' .github/workflows/run-kind.yaml -o json
          elif [ "${{ inputs.runtime }}" = "none" ] ; then
            echo '[]'
          else
            echo '["${{ inputs.runtime }}"]'
          fi | sed 's/^/runtime=/' | tee -a $GITHUB_OUTPUT
      - id: randomize-plan
        run: |
          echo '{"arch":${{ steps.process-inputs.outputs.arch }},' \
            '"inner-podman-version":${{ steps.process-inputs.outputs.inner-podman-version }},' \
            '"podman-style":${{ steps.process-inputs.outputs.podman-style }},' \
            '"runtime":${{ steps.process-inputs.outputs.runtime }}}' > .github/params.json

          exclude="$( yq -I0 '.on.workflow_dispatch.inputs.exclude.default' .github/workflows/run-kind.yaml -o json | jq -c 'fromjson' )"
          if [ "${{ github.event_name }}" = workflow_dispatch ] ; then
            exclude='${{ inputs.exclude }}'
          fi
          jq -c -f .github/generate-randomized-matrix.jq .github/params.json --arg count 4 --argjson exclude "${exclude:-[]}" --args arch podman-style inner-podman-version \
            | sed 's/^/run-in-podman=/' | tee -a $GITHUB_OUTPUT
          jq -c -f .github/generate-randomized-matrix.jq .github/params.json --arg count 6 --argjson exclude "${exclude:-[]}" --args arch runtime inner-podman-version \
            | sed 's/^/run-in-k3s=/' | tee -a $GITHUB_OUTPUT

  build:
    name: Build image
    runs-on: ubuntu-24.04${{ matrix.arch == 'arm64' && '-arm' || '' }}
    needs: [ init ]
    strategy:
      fail-fast: false
      matrix:
        arch: ${{ fromJSON(needs.init.outputs.arch ) }}
        inner-podman-version: ${{ fromJSON(needs.init.outputs.inner-podman-version ) }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Build image with podman ${{ matrix.inner-podman-version }}
        run: podman build --from quay.io/podman/stable:${{ matrix.inner-podman-version }} -t localhost/kind .
      - name: Save image
        run: podman save localhost/kind | gzip > kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}
          path: kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz
          retention-days: 1

  kind-in-podman:
    name: Kind
    runs-on: ubuntu-24.04${{ matrix.arch == 'arm64' && '-arm' || '' }}
    needs: [ init, build ]
    if: needs.init.outputs.run-in-podman != '[]'
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.init.outputs.run-in-podman ) }}
    timeout-minutes: 15
    env:
      kind_create_opts: --config /etc/kind-cluster.yaml
    steps:
      - uses: actions/checkout@v4
      - name: Set podman env
        run: echo "podman=podman" >> $GITHUB_ENV
      - name: Set sudo podman env
        run: echo "podman=sudo podman" >> $GITHUB_ENV
        if: matrix.podman-style == 'rootful'
      - name: Enable cpu cgroup delegation
        run: |
          for i in /sys/fs/cgroup/user.slice/cgroup.subtree_control \
            /sys/fs/cgroup/user.slice/user-$(id -u).slice/cgroup.subtree_control \
            /sys/fs/cgroup/user.slice/user-$(id -u).slice/user@$(id -u).service/cgroup.subtree_control ; do \
            echo '+cpu' | sudo tee -a $i ; \
          done
        if: matrix.podman-style == 'rootless'
      - uses: actions/download-artifact@v4
        with:
          name: kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}
      - name: Load image
        run: gunzip < kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz | $podman load
      - name: Create a volume
        run: $podman volume create kind-data
      - name: Network definition for rootless
        run: echo "podman_run_opts=-v $(pwd)/kind-network.yaml:/var/lib/containers/storage/networks/kind.json" >> $GITHUB_ENV
        if: matrix.podman-style == 'rootless'
      - name: Network definition for rootful
        run: echo "podman_run_opts=-v $(pwd)/kind-network.yaml:/etc/containers/networks/kind.json" >> $GITHUB_ENV
        if: matrix.podman-style == 'rootful'
      - name: Run the podman container
        run: $podman run -d --privileged --read-only --name kind -v kind-data:/var/lib/containers $podman_run_opts -p 6443:6443 localhost/kind
      - name: Cluster configuration for rootless
        run: echo "kind_create_opts=--config /etc/kind-cluster-rootless.yaml" >> $GITHUB_ENV
        if: matrix.podman-style == 'rootless'
      - name: Create kind cluster
        run: $podman exec kind kind create cluster --retain $kind_create_opts
      - run: $podman exec kind podman logs kind-control-plane
        if: ${{ failure() }}
      - run: $podman exec kind kubectl cluster-info --context kind-kind
      - run: $podman exec -ti kind kubectl wait --for=condition=ready -n kube-system pod/etcd-kind-control-plane pod/kube-apiserver-kind-control-plane --timeout=60s
      - run: $podman exec kind kubectl get nodes -o jsonpath='{.items[*].metadata.name}' | xargs $podman exec kind kubectl wait --for=condition=ready node
      - run: $podman exec kind kubectl get nodes
      - run: $podman exec kind kubectl get all -A
      - run: |
          $podman exec kind curl -sk https://127.0.0.1:6443/ | tee /dev/stderr | grep -q 'forbidden: User \\"system:anonymous\\" cannot get path'
      - run: |
          curl -s --cacert <( $podman exec kind bash -c 'cat $KUBECONFIG' | awk '/certificate-authority-data:/ { print $2 }' | base64 -d ) https://127.0.0.1:6443/ | tee /dev/stderr | grep -q 'forbidden: User \\"system:anonymous\\" cannot get path'
      - run: curl -s --cacert <( $podman exec kind bash -c 'cat $KUBECONFIG' | awk '/certificate-authority-data:/ { print $2 }' | base64 -d ) -E <( $podman exec kind bash -c 'cat $KUBECONFIG' | awk '/client-certificate-data:/ { print $2 }' | base64 -d ) --key <( $podman exec kind bash -c 'cat $KUBECONFIG' | awk '/client-key-data:/ { print $2 }' | base64 -d ) https://127.0.0.1:6443/ | tee /dev/stderr | grep -Fq /apis/authentication.k8s.io/v1
      - run: $podman rm -f kind
      - run: $podman run -d --privileged --read-only --name kind -v kind-data:/var/lib/containers $podman_run_opts -p 6443:6443 localhost/kind
      - run: $podman exec -ti kind podman start --all
      - run: $podman exec -ti kind podman wait --condition=running kind-control-plane ; sleep 10
      - run: $podman exec kind kubectl get all -A

  kind-in-k3s:
    name: Kind in K3s
    runs-on: ubuntu-24.04${{ matrix.arch == 'arm64' && '-arm' || '' }}
    needs: [ init, build ]
    if: needs.init.outputs.run-in-k3s != '[]'
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.init.outputs.run-in-k3s ) }}
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - run: sudo systemctl stop docker.service docker.socket
      - uses: actions/download-artifact@v4
        with:
          name: kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}
      - run: date '+%F %T' > job-start
      - name: Stop the system containerd
        run: |
          sudo systemctl stop containerd || :
        if: matrix.runtime != 'containerd'
      - name: Install and setup CRI-O
        run: |
          CRIO_VERSION=v1.34
          curl -fsSL https://download.opensuse.org/repositories/isv:/cri-o:/stable:/$CRIO_VERSION/deb/Release.key \
              | gpg --dearmor | sudo tee /etc/apt/keyrings/cri-o-apt-keyring.gpg > /dev/null
          echo "deb [signed-by=/etc/apt/keyrings/cri-o-apt-keyring.gpg] https://download.opensuse.org/repositories/isv:/cri-o:/stable:/$CRIO_VERSION/deb/ /" \
              | sudo tee /etc/apt/sources.list.d/cri-o.list

          sudo apt update
          sudo apt install -y cri-o

          sudo cp /etc/cni/net.d/10-crio-bridge.conflist.disabled /etc/cni/net.d/10-crio-bridge.conflist
          sudo systemctl start crio.service
        if: matrix.runtime == 'cri-o'
      - name: Configure cni for the system containerd
        run: |
          sudo cp .github/workflows/containerd-10-bridge.conflist /etc/cni/net.d/10-crio-bridge.conflist
          sudo mkdir -p /etc/containerd && sudo cp .github/workflows/containerd-config-1-k3s.toml /etc/containerd/config.toml
          sudo systemctl restart containerd
        if: matrix.runtime == 'containerd'
      - name: Install and setup K3s
        run: |
          export INSTALL_K3S_EXEC
          if [ -e /var/run/crio/crio.sock ] ; then
              INSTALL_K3S_EXEC='--flannel-backend=none --container-runtime-endpoint /var/run/crio/crio.sock'
              ( echo '[crio.network]' ; echo 'plugin_dirs = [ "/var/lib/rancher/k3s/data/cni" ]' ) | sudo tee /etc/crio/crio.conf.d/20-cni.conf
              sudo systemctl restart crio.service
          elif [ -e /run/containerd/containerd.sock ] ; then
              INSTALL_K3S_EXEC='--flannel-backend=none  --container-runtime-endpoint /run/containerd/containerd.sock'
          fi
          curl -sfL https://get.k3s.io | sh -s - --write-kubeconfig ~/.kube/config --write-kubeconfig-group $( id -g ) --write-kubeconfig-mode 640 --disable=traefik --disable=metrics-server
      - run: sudo skopeo copy docker-archive:kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz containers-storage:localhost/kind
        if: matrix.runtime == 'cri-o'
      - run: gunzip < kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz | sudo ctr -n k8s.io images import -
        if: matrix.runtime == 'containerd'
      - run: sudo k3s ctr images import - < kind-in-podman-${{ matrix.inner-podman-version }}-${{matrix.arch}}.tar.gz
        if: matrix.runtime == 'default'

      - name: Wait for the cluster to become ready
        run: while ! kubectl get nodes ; do sleep 5 ; done ; kubectl get nodes -o jsonpath='{.items[*].metadata.name}' | xargs kubectl wait --for=condition=ready node
      - run: kubectl get all -A
      - run: ip a ; ip r
      - run: while ! kubectl get serviceaccount/default ; do sleep 5 ; done
      - run: kubectl apply -f - < kind-cluster-pod-k3s.yaml
      - run: while ! kubectl get pod/kind-cluster -o jsonpath="{.status.initContainerStatuses[0].state['running','terminated'].startedAt}" | grep . ; do kubectl get pod/kind-cluster ; sleep 5 ; done
      - run: kubectl logs -f pod/kind-cluster -c create-cluster
      - run: kubectl describe pod/kind-cluster
      - run: while ! kubectl get pod/kind-cluster -o jsonpath="{.status.initContainerStatuses[0].state['terminated'].finishedAt}" | grep . ; do kubectl get pod/kind-cluster ; sleep 5 ; done
      - run: kubectl get pod/kind-cluster -o jsonpath="{.status.initContainerStatuses[0].state['terminated'].exitCode}" | grep ^0$
      - run: while ! kubectl get pod/kind-cluster -o jsonpath="{.status.containerStatuses[0].state['running','terminated'].startedAt}" | grep . ; do kubectl get pod/kind-cluster ; sleep 5 ; done
      - run: kubectl logs pod/kind-cluster
      - run: kubectl get pod/kind-cluster
      - run: kubectl describe pod/kind-cluster
      - run: kubectl exec pod/kind-cluster -- podman ps -a
      - run: while ! kubectl exec pod/kind-cluster -- curl -ks https://127.0.0.1:6443/ ; do sleep 1 ; done
      - run: kubectl exec pod/kind-cluster -- kubectl get nodes -o jsonpath='{.items[*].metadata.name}' | xargs kubectl exec pod/kind-cluster -- kubectl wait --for=condition=ready node
      - run: kubectl exec pod/kind-cluster -- kubectl get nodes
      - run: kubectl exec pod/kind-cluster -- kubectl get all -A

      - run: kubectl exec pod/kind-cluster -- kubectl create serviceaccount -n default admin
      - run: kubectl exec pod/kind-cluster -- kubectl patch clusterrolebinding cluster-admin --type=json -p='[{"op":"add", "path":"/subjects/-", "value":{"kind":"ServiceAccount", "namespace":"default", "name":"admin" } }]'
      - run: kubectl --kubeconfig=./kubeconfig config set-cluster kind --server=https://$( kubectl get service/kind-cluster -o jsonpath='{.spec.clusterIP}:{.spec.ports[0].port}' ) --insecure-skip-tls-verify=true
      - run: kubectl --kubeconfig=./kubeconfig config set-credentials kind-admin --token=$( kubectl exec pod/kind-cluster -- kubectl create token -n default admin )
      - run: kubectl --kubeconfig=./kubeconfig config set-context kind --cluster=kind --user=kind-admin
      - run: kubectl --kubeconfig=./kubeconfig config use-context kind
      - run: kubectl --kubeconfig=./kubeconfig get all -A

      - run: kubectl delete pod/kind-cluster
      - run: kubectl apply -f - < kind-cluster-pod-k3s.yaml
      - run: while ! kubectl get pod/kind-cluster -o jsonpath="{.status.containerStatuses[0].state['running','terminated'].startedAt}" | grep . ; do kubectl get pod/kind-cluster ; sleep 5 ; done
      - run: kubectl logs pod/kind-cluster -c create-cluster
      - run: kubectl logs pod/kind-cluster
      - run: while ! kubectl exec pod/kind-cluster -- curl -ks https://127.0.0.1:6443/ ; do sleep 1 ; done
      - run: kubectl exec pod/kind-cluster -- kubectl get all -A

      - run: kubectl --kubeconfig=./kubeconfig get all -A

      - run: sudo journalctl -u k3s -S "$( cat job-start )" -l > k3s.log
        if: failure()
      - run: kubectl describe nodes
        if: failure()
      - uses: actions/upload-artifact@v4
        with:
          name: k3s-log-${{ matrix.runtime }}-${{matrix.arch}}
          path: k3s.log
        if: failure()

